<html>
    <head>
        <title>Projetde fin de matière</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'list/css/style.css'%}">

    </head>
    <body>

        <div class="wrapper">

            <h2 style="text-align: center; font-size: x-large; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">My Hero Academia's Personnages</h2>
            <div class="cards">

                
                
                {% for personnage in personnages %}
                
                    <table>
                        <tbody>
                            <tr>
                                {% load static %}
                                <td><img src=" {% static 'list/'|add:personnage.photo %} " width="200" height="200" style="padding: 10;"/></td>
                                <td>  <figcaption style="color: aliceblue; font-size: larger;padding-right:  100;">{{ personnage.name }}: <bold>{{personnage.characteristics}}</bold></figcaption></td>
                            </tr>
                        </tbody>
                    </table>
                
                
                
                {% endfor %}

            </div>
        </div>

        <div>

            {% block content %}
                <div id="uploadDocumentForm">
                    <form id="formId">
                    {% csrf_token %}
                        <input type="text" placeholder="name" id="nom_du_personnage" />
                        <input type="text" placeholder="characteristics" id="characteristics" />
                        

                        <input type="file" id="fileButton" name="image_du_personnage"/>

                        <button id="upload_document_button" type="button" onclick="upload_document()" >
                            Ajouter le personnage
                        </button>

                    </form>

                </div>
            {% endblock %}

        </div>

        {% load static %}
        <script src="{% static 'list/js/add_personnage.js' %}"></script>


    </body>
    <footer>

    </footer>
</html>